<div class="content img"><img src={{lot?.product.image}}/></div>
<div class="content">
<h3>{{lot?.product.name}}</h3>
<p>Start price is <strong>{{lot?.product.price}}$</strong></p>
<p class="green alert " *ngIf="sold">This product is sold</p>
<h4>Description:</h4>
<p>{{lot?.product.description}}</p>
<p>Actual price is <strong>{{lot?.actualPrice}}$</strong></p>
<p>Winner is <strong>{{lot?.winner.name}}</strong></p>
<form [formGroup]="form" *ngIf="isAuthenticated && !sold">
  <fieldset>
      <legend><strong>Make bet</strong></legend>
      <div class="form-field">
          <label>Amount of bet:</label>
          <input name="Bet" formControlName="Bet">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button" 
              (click)="MakeBet()">Make bet</button>
  </div>
</form>
<button class="moders" *ngIf="isModerator && !sold" (click)="endBidding()">End Bidding</button>
<button class="moders" *ngIf="isModerator && !sold" (click)="startTimer()">Start Timer</button>
</div>
