button {
    background-color: #343a40; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

  }
  button:hover {
      cursor: pointer;
      background-color:  #607D8B; 
  }
  p.description {
    word-wrap: break-word;
      width: 40%;
      
  }
  .alert {
      background-color: rgba(253, 2, 2, 0.733);
      width: 250px;
      color: white;
      text-align: center;
      font-size: 20px;
      padding: 8px;
      border-radius: 4px;
  }

  .green {
    background-color: rgba(35, 165, 31, 0.733) !important;
  }


  .form {
    
    border: none;
    font-size: 20px;
    width: 400px;
    height: 200px;
    align-items: center;
    background-color:  rgba(156, 203, 226, 0.589);
    border-radius: 20px;
    color: black;
}
label {
    margin-left: 5px;
}

input {
    float: right;
    width: 60%;
    border: 1px solid black;
    border-radius: 6px;
    margin-right:5px;
}
.form-buttons {
    float: right;
    
}
h2 {
    margin:4px; 
}
select {
    float: right;
    margin-right:5px;
    width: 60%;
    border: 1px solid black;
    border-radius: 6px;
}
.save {
    margin-top: 29px;
    border-radius: 8px;
    margin-left: 5px;
}
