<h3>{{product?.name}}</h3>
<img src={{product?.image}} height="400"/>
<p>Start price is <strong>{{product?.price}}$</strong></p>
<p class="alert" *ngIf="!confirmed">This product is not confirmed</p>
<p class="green alert " *ngIf="sold">This product is sold</p>
<h4>Description:</h4>
<p class="description">{{product?.description}}</p>
<button *ngIf="!sold" (click)="delete()">Delete</button> 
<button *ngIf="!sold" (click)="edit()">Edit</button> 
<button *ngIf="!sold" (click)="makeLot()">Make lot</button>
<button *ngIf="isModerator && !sold" (click)="confirm()">Confirm</button>

<div *ngIf="editable" >
<h2>Change information </h2>
<div>
  <label>Name:
    <input [(ngModel)]="product.name" placeholder="name">
  </label>
</div>
<div>
        <label>Price:
          <input [(ngModel)]="product.price" placeholder="price" >
        </label>
      </div>
      <div>
            <label>Description:
              <input [(ngModel)]="product.description" placeholder="description" >
            </label>
          </div>
<div><button (click)="save()">Save</button> </div>
</div>

