<h3>{{product?.name}}</h3>
<img src={{product?.image}}/>
<p>Start price is {{product?.price}}</p>
<p *ngIf="!confirmed">This product is not confirmed</p>
<p *ngIf="sold">This product is sold</p>
<p>{{product?.description}}</p>
<button (click)="delete()">Delete</button> 
<button (click)="edit()">Edit</button> 
<button (click)="makeLot()">Make lot</button>
<button *ngIf="isModerator" (click)="confirm()">Confirm</button>

<div *ngIf="editable" >
<h2>Change information </h2>
<div>
  <label>Name:
    <input [(ngModel)]="product.name" placeholder="name">
  </label>
</div>
<div>
        <label>Price:
          <input [(ngModel)]="product.price" placeholder="price" >
        </label>
      </div>
      <div>
            <label>Description:
              <input [(ngModel)]="product.description" placeholder="description" >
            </label>
          </div>
<div><button (click)="save()">Save</button> </div>
</div>

