<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    {{ title }}
  </h1>
  <nav>
    <a routerLink="/categories">Categories</a>
    <a routerLink="/categories/edit" *ngIf="isModerator">Edit category</a>
    <a routerLink="/lots">Lots</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/users" *ngIf="isAdmin">Users</a>
    <span *ngIf="!isLoggedIn; else logged">
    <a routerLink="/login">Log in</a>
    <a routerLink="/register">Register</a>
    </span>
    <ng-template #logged>
    <a routerLink="/account">Account</a>
    <a (click) = "LogOut()">Log Out</a>
  </ng-template>
    
    
    
  </nav>
  <router-outlet></router-outlet>
 
