<!--The content below is only a placeholder and can be replaced.-->
<body>
  <nav class="nav">
      <div class="nav-div">
          <a class="home" routerLink="">Home</a>
              <a class="nav-elem" routerLink="/categories">Categories</a>
              <a *ngIf="isModerator" class="nav-elem" routerLink="/categories/edit" >Edit category</a>
              <a *ngIf="isAdmin" class="nav-elem" routerLink="/lots">Lots</a>
              <a class="nav-elem" routerLink="/products">Products</a>
              <a class="nav-elem" routerLink="/users" >Users</a>
              <a *ngIf="!isLoggedIn; else logged" class="nav-elem logging" routerLink="/login">Log in</a>
              <a *ngIf="!isLoggedIn" class="nav-elem logging" routerLink="/register">Register</a>
              <ng-template #logged>
                <a class="nav-elem logging" (click) = "LogOut()">Log Out</a>
                <a class="nav-elem logging" routerLink="/account">Account</a>
              </ng-template>
            </div>
  </nav>
  <router-outlet></router-outlet>
</body>
 
