<h3>Your products</h3>
<button routerLink="/products/add">Create product</button>
<ul class="products">
  <li *ngFor="let product of products" routerLink="/products/{{product.id}}">
    <strong>{{product?.name}}</strong> for <strong>{{product?.price}}$ </strong>
  </li>
</ul>

<div *ngIf="isModerator">
  <h3>Products to confirm</h3>
    <ul class="products">
        <li *ngFor="let product of toConfirmProducts" routerLink="/products/{{product.id}}">
          <strong>{{product?.name}}</strong> for <strong>{{product?.price}}$ </strong> 
        </li>
      </ul>
</div>

<div *ngIf="isAdmin">
    <h3>All products</h3>
      <ul class="products">
          <li *ngFor="let product of allProducts" routerLink="/products/{{product.id}}">
              <strong>{{product?.name}}</strong> for <strong>{{product?.price}}$ </strong> 
          </li>
        </ul>
  </div>