<form [formGroup]="form">
  <fieldset>
      <legend>Log in</legend>
      <div class="form-field">
          <label>Login:</label>
          <input name="email" formControlName="email">
      </div>
      <div class="form-field">
          <label>Password:</label>
          <input name="password" formControlName="password" 
                 type="password">
      </div>
  </fieldset>
  <div class="form-buttons">
      <button class="button button-primary" 
              (click)="Login()">Login</button>
  </div>
</form>
